<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h1>Upload PDF Files</h1>
            <p class="lead">Choose one or multiple PDF files to process</p>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form id="uploadForm" class="mb-4" onsubmit="uploadFile(event)">
                    <div class="form-group">
                        <label for="file">Choose PDF file</label>
                        <input type="file" class="form-control-file" id="file" name="file" accept=".pdf" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Process</button>
                </form>
                <form id="uploadMultipleForm" onsubmit="uploadMultipleFiles(event)">
                    <div class="form-group">
                        <label for="files">Choose PDF files</label>
                        <input type="file" class="form-control-file" id="files" name="files" accept=".pdf" multiple required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Process Multiple</button>
                </form>
                <div id="status" class="text-center my-3"></div>
                <div id="result" class="mt-4"></div>
                <div id="result_markdown" class="mt-4"></div>
            </div>
        </div>
    </div>
    <script src="/static/upload.js"></script>
</body>
</html>
